<html>
    <head style="font-family: Helvetica">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="../js/jQuery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../js/Bootstrap/bootstrap.min.js"></script>
        <link href="../css/Font-Awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../css/layout_css.css" rel="stylesheet" type="text/css">
        <title>Často kladené otázky</title>
        <style>
            p.serif {
            font-family: "Times New Roman", Times, serif;
            }
            p.sansserif {
            font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body style="font-family: Helvetica">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                        <img class="img-responsive" src="..\img\bitmap.png">
                    </div>
                    <div class="col-md-1">
                        <div class="list-group">
                            <a href="#" class="list-group-item"><img src="..\img\slovakia.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\england.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\germany.jpg" width="35px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="lead nav navbar-left navbar-nav">
                        <li>
                            <a href="index.html">Domov</a>
                        </li>
                        <li class="active">
                            <a href="faq.html">Často kladené otázky</a>
                        </li>
                        <li>
                            <a href="onas.html">O nás</a>
                        </li>
                        <li>
                            <a href="kontakt.html">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-warning">
                            <header class="panel-heading">
                                <h3>
                                    <p class="sansserif">
                                        <font color="black">Otázky, ktoré zodpovedáme najčastejšie:</font>
                                    </p>
                                </h3>
                            </header>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <header class="panel-heading">
                                <h4>
                                    <p class="sansserif">
                                        <font color="black">Je online registrácia detí povinná podľa zákona?</font>
                                    </p>
                                </h4>
                            </header>
                            <div class="panel-body">
                                <font size="3">
                                    <p>Registrácia novonarodených detí NIE JE podľa zákonov Slovenskej republiky
                                        povinná, avšak vďaka nej nie je potrebná administrácia na úradoch. Online
                                        registrácia šetrí rodičom čas, ktorý by bežne trávili vybavovaním na úradoch.
                                        Okrem iného je jednoduchá a zaručene bezpečná ako registrácia na úradoch
                                        Ministrerstva sociálnych vecí a rodiny Slovenskej republiky.
                                    </p>
                                    <p></p>
                                </font>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <header class="panel-heading">
                                <h4>
                                    <p class="sansserif">
                                        <font color="black">Komu bude odoslaný vyplnený formulár?</font>
                                    </p>
                                </h4>
                            </header>
                            <div class="panel-body">
                                <font size="3">Riadne vyplnený formulár bude odoslaný inštitúcii Ministerstva Sociálnych
                                vecí a rodiny Slovenskej republiky. Táto registrácia Vášho novonarodeného
                                dieťaťa slúži ako plná náhrada osobného styku na úrade. Formulár podlieha
                                štandardom ochrany osobných údajov podľa zákonov Slovenskej republiky,
                                teda nemusíte sa báť, že Vaše citlivé údaje budú odoslaním tohto vyplneného
                                formulára pozmenené alebo odcudzené.</font>
                            </div>
                            <font size="2"></font>
                        </div>
                        <div class="panel panel-info">
                            <header class="panel-heading">
                                <h4>
                                    <p class="sansserif">
                                        <font color="black">Je nutná registrácia pred registrovaním dieťaťa?</font>
                                    </p>
                                </h4>
                            </header>
                            <div class="panel-body">
                                <font size="3">Registrácia do systému NIE JE nutná. Registrácia sa začína priamo na stránke
                                v karte Domov, ktorú nájdete v hornom navigačnom menu. Na tejto karte sú
                                zobrazené úvodné základné informácie a samotná registrácia sa začína kliknutím
                                na tlačidlo Začať umiestnené v dolnej časti tejto karty.</font>
                            </div>
                            <font size="2"></font>
                        </div>
                        <div class="panel panel-info">
                            <header class="panel-heading">
                                <h4>
                                    <p class="sansserif">
                                        <font color="black">Je možné registrovať dieťa narodené aj mimo Slovenska?</font>
                                    </p>
                                </h4>
                            </header>
                            <div class="panel-body">
                                <font size="3">Áno, náš systém umožňuje registráciu detí narodených aj mimo Slovenskej
                                republiky. Náš systém bol navrhnutý tak, aby uľahčoval prácu budúcim rodičom
                                aj v prípade, že ich dieťa bolo narodené v cudzine a takto im ušetrilo
                                čas a náklady na registráciu v krajine, v ktorej majú trvalý pobyt.</font>
                            </div>
                            <font size="2"></font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <font size="2">
            <footer class="section section-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <label>Drím tím ® 2015</label>
                        </div>
                    </div>
                </div>
            </footer>
        </font>
    </body>
</html>
