<html>
    <head style="font-family: Helvetica">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="../js/jQuery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../js/Bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/Validator/jquery.validate.js"></script>
        <script type="text/javascript" src="../js/LocalStorage/local-storage-manager.js"></script>
        <script type="text/javascript" src="../js/Validator/validation.js"></script>
        <script type="text/javascript" src="../js/Validator/validator_matka.js"></script>
        <script type="text/javascript" src="../js/obciansky-matka.js"></script>
        <link href="../css/Font-Awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../css/layout_css.css" rel="stylesheet" type="text/css">
        <title>Matka</title>
        <style>
            p.sansserif {
				font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body style="font-family: Helvetica">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                        <img class="img-responsive" src="..\img\bitmap.png">
                    </div>
                    <div class="col-md-1">
                        <div class="list-group">
                            <a href="#" class="list-group-item"><img src="..\img\slovakia.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\england.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\germany.jpg" width="35px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="lead nav navbar-left navbar-nav">
                        <li>
                            <a href="index.html">Domov</a>
                        </li>
                        <li>
                            <a href="faq.html">Často kladené otázky</a>
                        </li>
                        <li>
                            <a href="onas.html">O nás</a>
                        </li>
                        <li>
                            <a href="kontakt.html">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div id="stickyAnchor"></div>
                                        <div id="progress-bar-div">
                                            <h2>Postup</h2>
                                            <div class="list-group" id="progress-bar">
                                                <a href="formular_matka.html" class="list-group-item active">1. Matka</span></a>
                                                <a href="formular_otec.html" class="list-group-item">2. Otec</a>
                                                <a href="formular_porucnik.html" class="list-group-item">3. Poručník</a>
                                                <a href="formular_novorodenec.html" class="list-group-item">4. Novorodenec</a>
                                                <a href="formular_deti.html" class="list-group-item">5. Deti</a>
                                                <a href="formular_platba.html" class="list-group-item">6. Platobné informácie</a>
                                                <a href="rekapitulacia.html" class="list-group-item">7. Rekapitulácia</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <h2><p class="sansserif" id="formStart">Osobné údaje matky</p></h2>
                                        <hr>
                                        <h3><p class="sansserif">Stručné info</p></h3>
                                        <p>Údaje, ktoré sa chystáte vyplniť sú potrebné pre
                                            <i>Registračný list do soiálnej poistovne</i>,
                                            <i>Prihlasovací lístok na trvalý pobyt</i>a
                                            <i>Žiadosť o príspevok rodičom, ktorým sa súčasne narodili tri deti alebo
                                            viac detí, alebo ktorým sa v priebehu dvoch rokov opakovane narodili dvojčatá.</i>
                                        </p>
                                        <hr>
                                        <button type="button" class="btn btn-primary" onclick="vyplnUdaje()">Vyplniť údaje z elektronického občianskeho preukazu </button>
                                        <br/>
                                        <br/>
                                        <br>
                                        <form class="form-horizontal" role="form" id="form-matka-info">
											<div class="form-group">
                                                <div class="col-lg-3">
                                                    <label class="control-label">Titul</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" value="" placeholder="Titul" id="titul" name="titul">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <div class="col-lg-3">
                                                    <label class="control-label">Meno</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" value="" placeholder="Meno" id="meno" name="meno">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <div class="col-lg-3">
                                                    <label class="control-label">Priezvisko</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" placeholder="Priezvisko" id="priezvisko" name="priezvisko">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <div class="col-lg-3">
                                                    <label class="control-label">Rodinný stav</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="radio">
                                                        <label class="radio-inline">
                                                            <input type="radio" id="slobodna" name="rodinnyStav" checked="checked">Slobodná</label>
                                                        <label class="radio-inline">
                                                            <input type="radio" id="vydata" name="rodinnyStav">Vydatá</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <div class="col-lg-3">
                                                    <label class="control-label">Rodné číslo</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Rodné číslo" id="rodneCislo" name="rodneCislo">
                                                        <span class="input-group-addon" data-toggle="tooltip" data-placement="right" title="Rodné číslo vypĺňajte v tvare 000000/0000<br/><br/>Napríklad 950101/1234">
                                                        <i class="fa fa-question fa-lg"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <div class="col-lg-3">
                                                    <label class="control-label label-left">Číslo obč. preukazu</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Číslo občianskeho preukazu" id="cisloObcPreukaz" name="cisloObcPreukaz">
                                                        <span class="input-group-addon" data-toggle="tooltip" data-placement="right" title="Číslo občianského preukazu vypĺňajte v tvare XX000000 <br/><br/>Napríklad XX059653">
                                                        <i class="fa fa-question fa-lg"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
											<div class="form-group required">
												<div class="col-lg-3">
													<label for="name" class="control-label label-left">Štátna príslušnosť</label>
												</div>
												<div class="col-lg-8">
													<input type="text" class="form-control" placeholder="Štátna príslušnosť" id="statnaPrislusnost" name="statnaPrislusnost">
												</div>
											</div>

											<div class="form-group">
                                                <div class="col-lg-3">
                                                    <label class="control-label">Telefón</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input type="tel" class="form-control" placeholder="Telefón" id="telefon" name="telefon">
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-3">
                                                    <label class="control-label">Email</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" placeholder="Email" id="email" name="email">
                                                </div>
                                            </div>
											<hr>
											<h3><p class="sansserif">Adresa</p></h3>
											<div class="form-group required">
                                                <div class="col-lg-3">
                                                    <label class="control-label">Ulica</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" placeholder="Ulica" id="ulica" name="ulica">
                                                </div>
                                            </div>
											<div class="form-group required">
                                                <div class="col-lg-3">
                                                    <label class="control-label">Mesto</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" placeholder="Mesto" id="mesto" name="mesto">
                                                </div>
                                            </div>
											<div class="form-group required">
                                                <div class="col-lg-3">
                                                    <label class="control-label label-left">Číslo domu/bytu</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" placeholder="Číslo domu/bytu" id="cisloDomu" name="cisloDomu">
                                                </div>
                                            </div>
											<div class="form-group required">
                                                <div class="col-lg-3">
                                                    <label class="control-label">PSČ</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" placeholder="PSČ" id="psc" name="psc">
                                                </div>
                                            </div>
                                        </form>
                                        <hr>
                                        <br>
                                        <div class="col-md-12">
                                            <a href="index.html" class="btn btn-primary"><i class="fa fa-arrow-left fa-lg"></i><strong> Späť</strong></a>
                                            <a href="formular_otec.html" class="btn btn-primary" style="float:right" id="nextButton" data-submit="form-matka-info"><strong>Pokračovať </strong><i class="fa fa-arrow-right fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <label>Drím tím ® 2015</label>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="../js/Cookies/cookie-manager.js"></script>
        <script type="text/javascript" src="../js/progress-bar.js"></script>
        <script type="text/javascript" src="../js/events.js"></script>
    </body>
</html>
