<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="../js/jQuery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../js/Bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/Validator/jquery.validate.js"></script>
        <script type="text/javascript" src="../js/LocalStorage/local-storage-manager.js"></script>
        <script type="text/javascript" src="../js/Validator/validation.js"></script>
        <script type="text/javascript" src="../js/Validator/validator_deti.js"></script>
		<script type="text/javascript" src="../js/hide-show.js"></script>
        <link href="../css/Font-Awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../css/layout_css.css" rel="stylesheet" type="text/css">
        <title>Deti</title>
        <style>
            p.sansserif {
				font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body style="font-family: Helvetica">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                        <img class="img-responsive" src="..\img\bitmap.png">
                    </div>
                    <div class="col-md-1">
                        <div class="list-group">
                            <a href="#" class="list-group-item"><img src="..\img\slovakia.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\england.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\germany.jpg" width="35px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="lead nav navbar-left navbar-nav">
                        <li class="active">
                            <a href="#">Domov</a>
                        </li>
                        <li>
                            <a href="#">Často kladené otázky</a>
                        </li>
                        <li class="">
                            <a href="#">O nás</a>
                        </li>
                        <li>
                            <a href="#">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div id="stickyAnchor"></div>
                                        <div id="progress-bar-div">
                                            <h2>Postup</h2>
                                            <div class="list-group" id="progress-bar">
                                                <a href="formular_matka.html" class="list-group-item">1. Matka</span></a>
                                                <a href="formular_otec.html" class="list-group-item">2. Otec</a>
                                                <a href="formular_novorodenec.html" class="list-group-item">3. Novorodenec</a>
                                                <a href="formular_deti.html" class="list-group-item active">4. Deti</a>
                                                <a href="formular_platba.html" class="list-group-item">5. Platobné informácie</a>
                                                <a href="rekapitulacia.html" class="list-group-item">6. Rekapitulácia</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <h2><p class="sansserif" id="formStart">Doplňujúce údaje o deťoch</p></h2>
                                        <hr>
                                        <h3><p class="sansserif">Stručné info</p></h3>
                                        <p>Údaje, ktoré sa chystáte vyplniť sú potrebné pre
                                            <i>Registračný list do soiálnej poistovne</i>,
                                            <i>Prihlasovací lístok na trvalý pobyt</i>a
                                            <i>Žiadosť o príspevok rodičom, ktorým sa súčasne narodili tri deti alebo
                                            viac detí, alebo ktorým sa v priebehu dvoch rokov opakovane narodili dvojčatá</i>
                                        </p>
                                        <hr>
										<h3><p class="sansserif">Dieťa č. 1</p></h3>
                                        <form class="form-horizontal" role="form" id="form-deti-info">
                                            <div class="form-group required">
                                                <div class="col-lg-2">
                                                    <label class="control-label">Meno</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input type="text" class="form-control" placeholder="Meno" id="meno1" name="meno">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <div class="col-lg-2">
                                                    <label class="control-label">Priezvisko</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input type="text" class="form-control" placeholder="Priezvisko" id="priezvisko1" name="priezvisko">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Dátum narodenia</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="input-group">
                                                        <input type="date" class="form-control" placeholder="Dátum narodenia" id="datumNarodenia1" name="datumNarodenia">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-question fa-lg"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
											<div class="form-group required">
												<div class="col-lg-2">
													<label class="control-label label-left">Miesto narodenia</label>
												</div>
												<div class="col-lg-9">
													<input type="text" class="form-control" placeholder="Miesto narodenia" id="miestoNarodenia1" name="miestoNarodenia">
												</div>
											</div>
											<div class="form-group required">
                                                <div class="col-lg-2">
                                                    <label class="control-label">Rodné číslo</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input type="text" class="form-control" placeholder="Rodné číslo" id="rodneCislo1" name="rodneCislo">
                                                </div>
                                            </div>


											<div id="child2">
												<hr>
												<h3><p class="sansserif">Dieťa č. 2</p></h3>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Meno</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Meno" id="meno2" name="meno">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Priezvisko</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Priezvisko" id="priezvisko2" name="priezvisko">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label label-left">Dátum narodenia</label>
													</div>
													<div class="col-lg-9">
														<div class="input-group">
															<input type="date" class="form-control" placeholder="Dátum narodenia" id="datumNarodenia2" name="datumNarodenia">
															<span class="input-group-addon">
															<i class="fa fa-question fa-lg"></i>
															</span>
														</div>
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label label-left">Miesto narodenia</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Miesto narodenia" id="miestoNarodenia2" name="miestoNarodenia">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Rodné číslo</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Rodné číslo" id="rodneCislo2" name="rodneCislo">
													</div>
												</div>
											</div>


											<div id="child3">
												<hr>
												<h3><p class="sansserif">Dieťa č. 3</p></h3>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Meno</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Meno" id="meno3" name="meno">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Priezvisko</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Priezvisko" id="priezvisko3" name="priezvisko">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label label-left">Dátum narodenia</label>
													</div>
													<div class="col-lg-9">
														<div class="input-group">
															<input type="date" class="form-control" placeholder="Dátum narodenia" id="datumNarodenia3" name="datumNarodenia">
															<span class="input-group-addon">
															<i class="fa fa-question fa-lg"></i>
															</span>
														</div>
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label label-left">Miesto narodenia</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Miesto narodenia" id="miestoNarodenia3" name="miestoNarodenia">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Rodné číslo</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Rodné číslo" id="rodneCislo3" name="rodneCislo">
													</div>
												</div>
											</div>


											<div id="child4">
												<hr>
												<h3><p class="sansserif">Dieťa č. 4</p></h3>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Meno</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Meno" id="meno4" name="meno">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Priezvisko</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Priezvisko" id="priezvisko4" name="priezvisko">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label label-left">Dátum narodenia</label>
													</div>
													<div class="col-lg-9">
														<div class="input-group">
															<input type="date" class="form-control" placeholder="Dátum narodenia" id="datumNarodenia4" name="datumNarodenia">
															<span class="input-group-addon">
															<i class="fa fa-question fa-lg"></i>
															</span>
														</div>
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label label-left">Miesto narodenia</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Miesto narodenia" id="miestoNarodenia4" name="miestoNarodenia">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Rodné číslo</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Rodné číslo" id="rodneCislo4" name="rodneCislo">
													</div>
												</div>
											</div>


											<div id="child5">
												<hr>
												<h3><p class="sansserif">Dieťa č. 5</p></h3>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Meno</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Meno" id="meno5" name="meno">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Priezvisko</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Priezvisko" id="priezvisko5" name="priezvisko">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label label-left">Dátum narodenia</label>
													</div>
													<div class="col-lg-9">
														<div class="input-group">
															<input type="date" class="form-control" placeholder="Dátum narodenia" id="datumNarodenia5" name="datumNarodenia">
															<span class="input-group-addon">
															<i class="fa fa-question fa-lg"></i>
															</span>
														</div>
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label label-left">Miesto narodenia</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Miesto narodenia" id="miestoNarodenia5" name="miestoNarodenia">
													</div>
												</div>
												<div class="form-group required">
													<div class="col-lg-2">
														<label class="control-label">Rodné číslo</label>
													</div>
													<div class="col-lg-9">
														<input type="text" class="form-control" placeholder="Rodné číslo"  id="rodneCislo5" name="rodneCislo">
													</div>
												</div>
											</div>

											<input type="hidden" id="childrenCount" value="1"/>
											<span id="plus-button" class="fa fa-plus-square fa-2x text-primary plus-btn"></span>
											<span id="minus-button" class="fa fa-minus-square fa-2x text-primary"></span>

                                        </form>
                                        <hr>
                                        <br>
                                        <div class="col-md-12">
                                            <a href="formular_novorodenec.html" class="btn btn-primary"><i class="fa fa-arrow-left fa-lg"></i><strong> Späť</strong></a>
                                            <a href="formular_platba.html" class="btn btn-primary" style="float:right" id="nextButton" data-submit="form-deti-info"><strong>Pokračovať </strong><i class="fa fa-arrow-right fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <label>Drím tím ® 2015</label>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="../js/progress-bar.js"></script>
        <script type="text/javascript" src="../js/events.js"></script>
    </body>
</html>
