<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="../js/jQuery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../js/Bootstrap/bootstrap.min.js"></script>
        <link href="../css/Font-Awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../css/layout_css.css" rel="stylesheet" type="text/css">
        <title>Kontakt</title>
        <style>
            p.serif {
            font-family: "Times New Roman", Times, serif;
            }
            p.sansserif {
            font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                        <img class="img-responsive" src="..\img\bitmap.png">
                    </div>
                    <div class="col-md-1">
                        <div class="list-group">
                            <a href="#" class="list-group-item"><img src="..\img\slovakia.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\england.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\germany.jpg" width="35px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="lead nav navbar-left navbar-nav">
                        <li>
                            <a href="index.html">Domov</a>
                        </li>
                        <li>
                            <a href="faq.html">Často kladené otázky</a>
                        </li>
                        <li>
                            <a href="#">O nás</a>
                        </li>
                        <li class="active">
                            <a href="kontakt.html">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <header class="panel-heading">
                                <h4>
                                    <p class="sansserif">
                                        <font color="black">Osobný kontakt</font>
                                    </p>
                                </h4>
                            </header>
                            <div class="panel-body">
                                <font size="3">
                                    <p>Osobne nás môžete nájsť každý pracovný deň od 8:00 - 14:00 na adrese
                                        Inštitútu Ministerstva sociálnych vecí a rodiny Slovenskej republiky, Bajkalská
                                        ulica č. 3, 831 04 Bratislava 3.
                                    </p>
                                    <p></p>
                                </font>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <header class="panel-heading">
                                <h4>
                                    <p class="sansserif">
                                        <font color="black">Telefonický kontakt:</font>
                                    </p>
                                </h4>
                            </header>
                            <div class="panel-body">
                                <font size="3">
                                    <p>Naše linky sú Vám k dispozícií každý pracovný deň od 9:00 - 13:00, môžete
                                        nás kontaktovať na jednom z nasledujúcich telefónnych čísel:
                                    </p>
                                    <ul type="square">
                                        <p></p>
                                        <li>+421 44 84 097 - pre telefonát v rámci Slovenkej republiky</li>
                                        <p></p>
                                        <li>+421 63 78 997 - pre kontaktovanie z inej krajiny ako Slovenská republika</li>
                                        <p></p>
                                        <li>0944 556 183 - kontakt na mobil v rámci Slovenskej rebubliky</li>
                                        <p></p>
                                    </ul>
                                </font>
                            </div>
                            <font size="2"></font>
                        </div>
                        <div class="panel panel-info">
                            <header class="panel-heading">
                                <h4>
                                    <p class="sansserif">
                                        <font color="black">E-mail:</font>
                                    </p>
                                </h4>
                            </header>
                            <div class="panel-body">
                                <font size="3">
                                    <p>Vaše ďalšie otázky alebo návrhy môžete prípadne smerovať na tieto e-mailové
                                        adresy, radi Vám odpovieme:
                                    </p>
                                    <ul type="square">
                                        <p></p>
                                        <li>miroslav.hurajt@gmail.com</li>
                                        <p></p>
                                        <li>oliver.moravcik@gmail.com</li>
                                        <p></p>
                                        <li>barbora.pavlikova@gmail.com</li>
                                        <p></p>
                                        <li>peter.benus@gmail.com</li>
                                        <p></p>
                                        <li>martin.nemcek@gmail.com</li>
                                    </ul>
                                </font>
                            </div>
                            <font size="2"></font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <font size="2">
            <footer class="section section-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <label>Drím tím ® 2015</label>
                        </div>
                    </div>
                </div>
            </footer>
        </font>
    </body>
</html>
