<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="../js/jQuery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../js/Bootstrap/bootstrap.min.js"></script>
        <link href="../css/Font-Awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../css/layout_css.css" rel="stylesheet" type="text/css">
        <title>O nás</title>
        <style>
            p.serif {
            font-family: "Times New Roman", Times, serif;
            }
            p.sansserif {
            font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                        <img class="img-responsive" src="..\img\bitmap.png">
                    </div>
                    <div class="col-md-1">
                        <div class="list-group">
                            <a href="#" class="list-group-item"><img src="..\img\slovakia.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\england.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\germany.jpg" width="35px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="lead nav navbar-left navbar-nav">
                        <li>
                            <a href="index.html">Domov</a>
                        </li>
                        <li>
                            <a href="faq.html">Často kladené otázky</a>
                        </li>
                        <li class="active">
                            <a href="onas.html">O nás</a>
                        </li>
                        <li></li>
                        <li>
                            <a href="kontakt.html">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <font size="3">
                                    <p>Táto stránka, tak ako mnohe iné v našej dlhodobej histórií vytvárania webových
                                        stránok, vznikla v klasickom zložení nášho DRÍM TÍMU:
                                    </p>
                                    <ul type="square">
                                        <p></p>
                                        <li>Barbora Pavlíková</li>
                                        <p></p>
                                        <li>Oliver Moravčík</li>
                                        <p></p>
                                        <li>Martin Nemček</li>
                                        <p></p>
                                        <li>Peter Beňuš</li>
                                        <p></p>
                                        <li>Miroslav Hurajt</li>
                                        <p></p>
                                    </ul>
                                    <p>Toto zloženie bolo sformované počas štúdia na vysokej škole, kde sme mali
                                        prvý kontakt s tvorbou webových stránok na predmete Interakcia človeka s
                                        počítačom. Spomínaný predmet nás veľmi motivoval do ďalšej práce spojenej
                                        s vytváraním webových stránok. Zároveň nám dal aj veľa užitočných informácií,
                                        ktoré využívame pri práci dodnes. Po vysokej škole každý z nás pokračoval svojou
                                        cestou, no na podnet nášho momentálneho akéhosi nemenovaného lídra Olivera
                                        sme sa dali opäť dokopy a založili firmu pod výstižným názvom Drím tím.
                                        Ako čas plynul a my naberali skúsenosti prišli aj prvé úspechy a hovoria
                                        za nás aj viaceré ocenenia. Vyhrávali sme aj štátne zákazky, tak ako túto
                                        z ktorej vznikol portál na registráciu novonarodených detí O radosť viac,
                                        o starosť menej.
                                    </p>
                                    Tak ako sme sa o to snažili doteraz, chceme aj naďalej
                                    prinášať kvalitné webové stránky, ktoré budú prinášať pridanú hodnotu do
                                    životov ľudí. Ak by ste si chceli prezrieť kompletnú kartotéku našich stránok
                                    môžete ju nájsť na našej domovskej webovej stránke www.drimtim.com, kde
                                    nás môžete kontaktovať pre prípad, že by ste sa chceli taktiež
                                    dostať do zástupu ľudí, ktorí sú spokojní s našou dôslednou prácou pri
                                    vytvaraní webových stránok čo slúžia a potešia.
                                    <p></p>
                                </font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <font size="2">
            <footer class="section section-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <label>Drím tím ® 2015</label>
                        </div>
                    </div>
                </div>
            </footer>
        </font>
    </body>
</html>
