<html>
    <head>
		<basefont face="Arial, Helvetica, sans-serif">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script>
			validationStatus = 0;
		</script>
        <script type="text/javascript" src="../js/jQuery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../js/Bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/Validator/jquery.validate.js"></script>
        <script type="text/javascript" src="../js/LocalStorage/local-storage-manager.js"></script>
        <script type="text/javascript" src="../js/Validator/validation.js"></script>
		<script type="text/javascript" src="../js/hide-show.js"></script>
        <link href="../css/Font-Awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../css/layout_css.css" rel="stylesheet" type="text/css">
        <title>Rekapitulácia</title>
        <style>
            * {
            font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                        <img class="img-responsive" src="..\img\bitmap.png">
                    </div>
                    <div class="col-md-1">
                        <div class="list-group">
                            <a href="#" class="list-group-item"><img src="..\img\slovakia.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\england.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\germany.jpg" width="35px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="lead nav navbar-left navbar-nav">
                        <li>
                            <a href="index.html">Domov</a>
                        </li>
                        <li>
                            <a href="faq.html">Často kladené otázky</a>
                        </li>
                        <li>
                            <a href="#">O nás</a>
                        </li>
                        <li>
                            <a href="kontakt.html">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div id="stickyAnchor"></div>
                        <div id="progress-bar-div">
                            <h2>Postup</h2>
                            <div class="list-group" id="progress-bar">
                                <a href="formular_matka.html" class="list-group-item">1. Matka</span></a>
                                <a href="formular_otec.html" class="list-group-item">2. Otec</a>
                                <a href="formular_porucnik.html" class="list-group-item">3. Poručník</a>
                                <a href="formular_novorodenec.html" class="list-group-item">4. Novorodenec</a>
                                <a href="formular_deti.html" class="list-group-item">5. Deti</a>
                                <a href="formular_platba.html" class="list-group-item">6. Platobné informácie</a>
                                <a href="rekapitulacia.html" class="list-group-item active">7. Rekapitulácia</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2 id="formStart">
                            <p class="sansserif">
                                Rekapitulácia
                            </p>
                        </h2>
                        <br>
                        <h3>Osobné údaje - matka
                            <button id="toggleMotherBtn" class="btn btn-primary" style="float:right" onclick="myToggleForm(motherForm, 'toggleMotherBtnIcon')">
								<i id="toggleMotherBtnIcon" class="fa fa-angle-up fa-lg"></i>
							</button>
                        </h3>
										<form class="form-horizontal" role="form" id="motherForm">
											<br>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Titul</label>
                                                </div>
                                                <div class="col-lg-9">
													<p class="form-control-static">Ing.</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Meno</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Anna</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Priezvisko</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Pokorná</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Rodinný stav</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Vydatá</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Rodné číslo</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">123456/7890</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left label-left">Číslo obč. preukazu</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">EU1234567</p>
                                                </div>
                                            </div>
											<div class="form-group">
												<div class="col-lg-2">
													<label for="name" class="control-label label-left label-left">Štátna príslušnosť</label>
												</div>
												<div class="col-lg-9">
													<p class="form-control-static">Slovenská</p>
												</div>
											</div>

											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Telefón</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">0909 090 909</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Email</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">dajmadole@azet.sk</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Ulica</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Strmá</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Mesto</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Bratislava</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left label-left">Číslo domu/bytu</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">15</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">PSČ</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">99999</p>
                                                </div>
                                            </div>
                                        </form>
                        <hr>
                        <h3>Osobné údaje - otec
                            <button id="toggleFatherBtn" class="btn btn-primary" style="float:right" onclick="myToggleForm(fatherForm, 'toggleFatherBtnIcon')">
								<i id="toggleFatherBtnIcon" class="fa fa-angle-up fa-lg"></i>
							</button>
                        </h3>
										<form class="form-horizontal" role="form" id="fatherForm">
											<br>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Titul</label>
                                                </div>
                                                <div class="col-lg-9">
													<p class="form-control-static">Bc.</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Meno</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Muhamad</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Priezvisko</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Ali</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Rodinný stav</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Ženatý</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Rodné číslo</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">111111/1111</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left label-left">Číslo obč. preukazu</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">US1111111</p>
                                                </div>
                                            </div>
											<div class="form-group">
												<div class="col-lg-2">
													<label for="name" class="control-label label-left label-left">Štátna príslušnosť</label>
												</div>
												<div class="col-lg-9">
													<p class="form-control-static">indiánska</p>
												</div>
											</div>

											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Telefón</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">0988 888 888</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Email</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">damtadole@azet.sk</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Ulica</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Víťazná</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Mesto</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Sliač</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left label-left">Číslo domu/bytu</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">1</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">PSČ</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">901 01</p>
                                                </div>
                                            </div>
                                        </form>
                        <hr>
                        <h3>Údaje o novonarodenom dieťati
                            <button id="toggleBabyBtn" class="btn btn-primary" style="float:right" onclick="myToggleForm(babyForm, 'toggleBabyBtnIcon')">
								<i id="toggleBabyBtnIcon" class="fa fa-angle-up fa-lg"></i>
							</button>
                        </h3>
                        <form id="babyForm" class="form-horizontal" role="form">
							<br>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Meno</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Alah</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Priezvisko</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Mocný</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Pohlavie</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Chlapec</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Rodné číslo</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">945811/1111</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Dátum narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">11.08.1994</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Miesto narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Trnava</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Štátna príslušnosť</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">slovenská</p>
                                </div>
                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Ulica</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Strmá</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Mesto</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Bratislava</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left label-left">Číslo domu/bytu</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">15</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">PSČ</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">99999</p>
                                                </div>
                                            </div>
                        </form>
                        <hr>
                        <h3>Údaje o skôr narodených deťoch
                            <button id="toggleChildrenBtn" class="btn btn-primary" style="float:right" onclick="myToggleForm(childrenForms, 'toggleChildrenBtnIcon');">
								<i id="toggleChildrenBtnIcon" class="fa fa-angle-up fa-lg"></i>
							</button>
                        </h3>
						<div id="childrenForms">
						<form id="childrenForm1" class="form-horizontal" role="form">
							<br>
							<h3><p class="sansserif">Dieta c. 1</p></h3>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Meno</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Alah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Priezvisko</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Dátum narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Miesto narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Rodné císlo</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
						</form>
						<form id="childrenForm2" class="form-horizontal" role="form">
							<br>
							<h3><p class="sansserif">Dieta c. 2</p></h3>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Meno</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Alah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Priezvisko</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Dátum narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Miesto narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Rodné císlo</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
						</form>
						<form id="childrenForm3" class="form-horizontal" role="form">
							<br>
							<h3><p class="sansserif">Dieta c. 3</p></h3>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Meno</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Alah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Priezvisko</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Dátum narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Miesto narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Rodné císlo</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
						</form>
						<form id="childrenForm4" class="form-horizontal" role="form">
							<br>
							<h3><p class="sansserif">Dieta c. 4</p></h3>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Meno</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Alah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Priezvisko</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Dátum narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Miesto narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Rodné císlo</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
						</form>
						<form id="childrenForm5" class="form-horizontal" role="form">
							<br>
							<h3><p class="sansserif">Dieta c. 5</p></h3>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Meno</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Alah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Priezvisko</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Dátum narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Miesto narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
							<div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Rodné císlo</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Falah</p>
                                </div>								
                            </div>
						</form>
						</div>
                        <hr>
                        <h3>Platobné informácie
                            <button id="togglePaymentBtn" class="btn btn-primary" style="float:right" onclick="myToggleForm(paymentForms, 'togglePaymentBtnIcon')"><i id="togglePaymentBtnIcon" class="fa fa-angle-up fa-lg"></i></button>
                        </h3>
						<div id="paymentForms">
							<form id="homeAccountForm" class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">Spôsob platby</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static">Platba na domáci úcet</p>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">IBAN</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static">654654654</p>
									</div>								
								</div>
							</form>
							<form id="foreignAccountForm" class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">Spôsob platby</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static">Platba na zahranicný úcet</p>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">Názov banky</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static">Banka</p>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">Majitel úctu</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static">Majitel</p>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">IBAN</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static"></p>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">SWIFT</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static"></p>
									</div>								
								</div>
							</form>
							<form id="cashAddressForm" class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">Spôsob platby</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static">Vyplatenie v hotovosti na adresu</p>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">Ulica</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static"></p>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">Císlo</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static"></p>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">Mesto</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static"></p>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-2">
										<label class="control-label label-left">PSC</label>
									</div>
									<div class="col-lg-9">
										<p class="form-control-static"></p>
									</div>								
								</div>
							</form>
						</div>
                        <hr>                      
                        <br>
                        <div class="col-md-12">
                            <button class="btn btn-primary pull-left"><i class="fa fa-arrow-left fa-lg"></i><strong> Späť</strong></button>
							<button class="btn btn-success pull-right" id="confirm">
								<i class="fa fa-check fa-lg"></i>
								<strong>Potvrdiť</strong>
							</button>
							<button id="validOne" class="btn btn-default pull-right">validationStatus = 1</button>
							<button id="validZero" class="btn btn-default pull-right">validationStatus = 0</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <label>Drím tím ® 2015</label>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="../js/progress-bar.js"></script>
        <script type="text/javascript" src="../js/events.js"></script>
    </body>
	<!-- Modal -->
    <div id="modalSuccess" class="fade modal text-center" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header section-primary">
            <button type="button" class="close" data-dismiss="modal">
              <i class="fa fa-times" style="color:white"></i>
            </button>
            <h4 class="modal-title">Potvrdenie</h4>
          </div>
          <div class="modal-body">
            <p>Naozaj chcete potvrdiť zadané údaje?<br><br>
			Potvrdením udelujete súhlas so spracovaním zadaných osobných údajov<br>podľa zákona č. 428/2002 Z. z. o ochrane osobných údajov.
			</p>
          </div>
          <div class="modal-footer">
            <div class="text-center">
              <button type="submit" class="btn btn-danger" data-dismiss="modal">Nie</button>
              <button type="submit" class="btn btn-success" data-dismiss="modal">Áno</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modalDanger" class="fade modal text-center" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header section-danger">
            <button type="button" class="close" data-dismiss="modal">
              <i class="fa fa-times" style="color:white"></i>
            </button>
            <h4 class="modal-title">Potvrdenie</h4>
          </div>
          <div class="modal-body">
            <p>Nevyplnili ste niektoré potrebné údaje.
              <br>Vráťte sa a vyplňte ich prosím.</p>
          </div>
        </div>
      </div>
    </div>
	
<!--temporary for modal views-->
	<script id="validToOne">
		$('#validOne').on('click', function () {
			validationStatus = 1;
		})

		$('#validZero').on('click', function () {
			validationStatus = 0;
		})

		$('#confirm').on('click', function () {
			if (validationStatus == 0) {
				$('#modalDanger').modal('show')
			} else {
				$('#modalSuccess').modal('show')
			}
		})
    </script>
</html>
