<html>
    <head>
		<basefont face="Arial, Helvetica, sans-serif">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script>
			validationStatus = 0;
		</script>
        <script type="text/javascript" src="../js/jQuery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../js/Bootstrap/bootstrap.min.js"></script>
        <link href="../css/Font-Awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../css/layout_css.css" rel="stylesheet" type="text/css">
        <title>Rekapitulácia</title>
        <style>           
            * {
            font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                        <img class="img-responsive" src="..\img\bitmap.png">
                    </div>
                    <div class="col-md-1">
                        <div class="list-group">
                            <a href="#" class="list-group-item"><img src="..\img\slovakia.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\england.jpg" width="35px"></a>
                            <a href="#" class="list-group-item"><img src="..\img\germany.jpg" width="35px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="lead nav navbar-left navbar-nav">
                        <li class="active">
                            <a href="#">Domov</a>
                        </li>
                        <li>
                            <a href="#">Často kladené otázky</a>
                        </li>
                        <li class="">
                            <a href="#">O nás</a>
                        </li>
                        <li>
                            <a href="#">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Postup</h2>
                        <div class="list-group">
                            <a href="formular_matka.html" class="list-group-item">1. Matka</a>
                            <a href="formular_otec.html" class="list-group-item">2. Otec</a>
                            <a href="formular_novorodenec.html" class="list-group-item">3. Novorodenec</a>
                            <a href="formular_deti.html" class="list-group-item">4. Deti</a>
                            <a href="formular_platba.html" class="list-group-item">5. Platobné informácie</a>
                            <a href="rekapitulacia.html" class="list-group-item active">6. Rekapitulácia</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>
                            <p class="sansserif">
                                Rekapitulácia
                            </p>
                        </h2>
                        <br>
                        <h3>Osobné údaje - matka
                            <button id="toggleMotherBtn" class="btn btn-primary" style="float:right"><i id="toggleMotherBtnIcon" class="fa fa-angle-up fa-lg"></i></button>
                        </h3>
										<form class="form-horizontal" role="form" id="motherFrom">
											<br>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Titul</label>
                                                </div>
                                                <div class="col-lg-9">
													<p class="form-control-static">Ing.</p>                                                 
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Meno</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Anna</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Priezvisko</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Pokorná</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Rodinný stav</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Vydatá</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Rodné číslo</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">123456/7890</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left label-left">Číslo obč. preukazu</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">EU1234567</p>
                                                </div>
                                            </div>
											<div class="form-group">
												<div class="col-lg-2">
													<label for="name" class="control-label label-left label-left">Štátna príslušnosť</label>
												</div>
												<div class="col-lg-9">
													<p class="form-control-static">Slovenská</p>
												</div>
											</div>

											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Telefón</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">0909 090 909</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Email</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">dajmadole@azet.sk</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Ulica</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Strmá</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Mesto</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Bratislava</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left label-left">Číslo domu/bytu</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">15</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">PSČ</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">99999</p>
                                                </div>
                                            </div>
                                        </form>
                        <hr>
                        <h3>Osobné údaje - otec
                            <button id="toggleFatherBtn" class="btn btn-primary" style="float:right"><i id="toggleFatherIcon" class="fa fa-angle-up fa-lg"></i></button>
                        </h3>
										<form class="form-horizontal" role="form" id="fatherFrom">
											<br>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Titul</label>
                                                </div>
                                                <div class="col-lg-9">
													<p class="form-control-static">Bc.</p>                                                 
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Meno</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Muhamad</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Priezvisko</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Ali</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Rodinný stav</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Ženatý</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Rodné číslo</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">111111/1111</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left label-left">Číslo obč. preukazu</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">US1111111</p>
                                                </div>
                                            </div>
											<div class="form-group">
												<div class="col-lg-2">
													<label for="name" class="control-label label-left label-left">Štátna príslušnosť</label>
												</div>
												<div class="col-lg-9">
													<p class="form-control-static">indiánska</p>
												</div>
											</div>

											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Telefón</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">0988 888 888</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Email</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">damtadole@azet.sk</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Ulica</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Víťazná</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Mesto</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Sliač</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left label-left">Číslo domu/bytu</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">1</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">PSČ</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">901 01</p>
                                                </div>
                                            </div>
                                        </form>
                        <hr>
                        <h3>Údaje o novonarodenom dieťati
                            <button id="toggleBabyBtn" class="btn btn-primary" style="float:right"><i id="toggleBabyBtnIcon" class="fa fa-angle-up fa-lg"></i></button>
                        </h3>
                        <form id="babyFrom" class="form-horizontal" role="form">
							<br>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Meno</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Alah</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Priezvisko</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Mocný</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Pohlavie</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Chlapec</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Rodné číslo</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">945811/1111</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Dátum narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">11.08.1994</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Miesto narodenia</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">Trnava</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="control-label label-left">Štátna príslušnosť</label>
                                </div>
                                <div class="col-lg-9">
                                    <p class="form-control-static">slovenská</p>
                                </div>
                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Ulica</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Strmá</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">Mesto</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">Bratislava</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left label-left">Číslo domu/bytu</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">15</p>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label label-left">PSČ</label>
                                                </div>
                                                <div class="col-lg-9">
                                                    <p class="form-control-static">99999</p>
                                                </div>
                                            </div>                                     
                        </form>
                        <hr>
                        <h3>Údaje o skôr narodených deťoch
                            <a class="btn btn-primary" style="float:right"><i class="fa fa-angle-down fa-lg"></i></a>
                        </h3>
                        <hr>
                        <h3>Platobné informácie - dávky
                            <a class="btn btn-primary" style="float:right"><i class="fa fa-angle-down fa-lg"></i></a>
                        </h3>
                        <hr>
                        <h3>Doplňujúce informácie - dávky
                            <a class="btn btn-primary" style="float:right"><i class="fa fa-angle-down fa-lg"></i></a>
                        </h3>
                        <hr>
                        <br>
                        <div class="col-md-12">
                            <button class="btn btn-primary pull-left"><i class="fa fa-arrow-left fa-lg"></i><strong> Späť</strong></button>
							<button class="btn btn-success pull-right" id="confirm">
								<i class="fa fa-check fa-lg"></i>
								<strong>Potvrdiť</strong>
							</button>
							<button id="validOne" class="btn btn-default pull-right">validationStatus = 1</button>
							<button id="validZero" class="btn btn-default pull-right">validationStatus = 0</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <label>Drím tím ® 2015</label>
                    </div>
                </div>
            </div>
        </footer>
    </body>
	<!-- Modal -->
    <div id="modalSuccess" class="fade modal text-center" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header section-primary">
            <button type="button" class="close" data-dismiss="modal">
              <i class="fa fa-times" style="color:white"></i>
            </button>
            <h4 class="modal-title">Potvrdenie</h4>
          </div>
          <div class="modal-body">
            <p>Naozaj chcete potvrdiť zadané údaje?</p>
          </div>
          <div class="modal-footer">
            <div class="text-center">
              <button type="submit" class="btn btn-danger" data-dismiss="modal">
                <i class="fa fa-times"></i>Nie</button>
              <button type="submit" class="btn btn-success" data-dismiss="modal">
                <i class="fa fa-check"></i>Áno</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modalDanger" class="fade modal text-center" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header section-danger">
            <button type="button" class="close" data-dismiss="modal">
              <i class="fa fa-times" style="color:white"></i>
            </button>
            <h4 class="modal-title">Potvrdenie</h4>
          </div>
          <div class="modal-body">
            <p>Nevyplnili ste niektoré potrebné údaje.
              <br>Vráťte sa a vyplňte ich prosím.</p>
          </div>
        </div>
      </div>
    </div>
	<script id="toggleMotherForm">
		$("#toggleMotherBtn").click(function(event){
			$("#motherFrom").slideToggle("fast");
			if (document.getElementById("toggleMotherBtnIcon").className == "fa fa-angle-up fa-lg") {
				document.getElementById("toggleMotherBtnIcon").className = "fa fa-angle-down fa-lg";
			} else {
				document.getElementById("toggleMotherBtnIcon").className = "fa fa-angle-up fa-lg";
			}

		});
    </script>
	<script id="toggleBabyForm">
		$("#toggleFatherBtn").click(function(event){
			$("#fatherFrom").slideToggle("fast");
			if (document.getElementById("toggleFatherBtnIcon").className == "fa fa-angle-up fa-lg") {
				document.getElementById("toggleFatherBtnIcon").className = "fa fa-angle-down fa-lg";
			} else {
				document.getElementById("toggleFatherBtnIcon").className = "fa fa-angle-up fa-lg";
			}

		});
    </script>
	<script id="toggleBabyForm">
		$("#toggleBabyBtn").click(function(event){
			$("#babyFrom").slideToggle("fast");
			if (document.getElementById("toggleBabyBtnIcon").className == "fa fa-angle-up fa-lg") {
				document.getElementById("toggleBabyBtnIcon").className = "fa fa-angle-down fa-lg";
			} else {
				document.getElementById("toggleBabyBtnIcon").className = "fa fa-angle-up fa-lg";
			}

		});
    </script>
	<script id="validToOne">
		$('#validOne').on('click', function () {
			validationStatus = 1;
		})
	</script>
	<script id="validToZero">
		$('#validZero').on('click', function () {
			validationStatus = 0;
		})
	</script>
    <script id="modalChooser">
		$('#confirm').on('click', function () {
			if (validationStatus == 0) {
				$('#modalDanger').modal('show')
			} else {
				$('#modalSuccess').modal('show')
			}
		})
    </script>
</html>
